/*✧✧✧✧✧✧✧✧✧ INIT CONFIG ✧✧✧✧✧✧✧✧✧*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

:root {
    --font-cover: "Cinzel Decorative", serif;
    --font-title: "MuseoModerno", serif;
    --font-text: "Inder", serif;
    --color-text: #e0e0e0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-text);
    scroll-behavior: smooth;
}